---
import ContactFormButton from "./ContactFormButton.astro";
---

<form id="contact-form" method="POST" class="animate">
  <div class="flex flex-col gap-3">
    <div class="flex gap-2">
      <div class="w-1/2">
        <div class="form-group">
          <input
            name="name"
            id="name"
            placeholder="Name (required)"
            class="w-full rounded-lg p-2"
            type="text"
            required
          />
        </div>
      </div>
      <div class="w-1/2">
        <div class="form-group">
          <input
            name="email"
            id="email"
            placeholder="Email (required)"
            class="w-full rounded-lg p-2"
            type="email"
            required
          />
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input
          name="subject"
          id="subject"
          placeholder="Subject"
          class="mb-3 w-full rounded-lg p-2"
          type="text"
        />
      </div>
    </div>

    <div class="flex flex-col gap-3">
      <label class="form-label"> What can I help you with? </label>
      <textarea
        name="message"
        id="message"
        placeholder="Your message (required)"
        class="h-[10rem] rounded-lg p-2"
        required></textarea>
    </div>
    <div id="send-btn">
      <ContactFormButton text="Send Message" />
    </div>
    <div class="hidden" id="loading-btn">
      <ContactFormButton text="Sending message..." />
    </div>
    <div class="hidden" id="success-btn">
      <ContactFormButton text="✅ Thanks for your message!" />
    </div>
    <div class="hidden" id="error-btn">
      <ContactFormButton text="❌ Something went wrong. Please try again!" />
    </div>
  </div>
</form>

<script>
  const formElement = document.getElementById(
    "contact-form",
  ) as HTMLFormElement;
  const sendBtn = document.getElementById("send-btn");
  const loadingBtn = document.getElementById("loading-btn");
  const successBtn = document.getElementById("success-btn");
  const errorBtn = document.getElementById("error-btn");

  formElement.addEventListener("submit", async (e) => {
    e.preventDefault();

    showLoadingMessage();

    if (formElement) {
      const formData = new FormData(formElement);
      formData.append("access_key", "31904935-7054-446a-b482-04ea5d153181");

      const formObject: { [key: string]: string } = {};

      for (const [name, value] of formData.entries()) {
        formObject[name] = value as string;
      }

      const finalObj = {
        ...formObject,
        from_name: formObject.name,
        replyto: "nathanweb.dev@proton.me",
      };

      const json = JSON.stringify(finalObj);

      const res = await fetch("https://api.web3forms.com/submit", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: json,
      }).then((res) => res.json());

      if (res.success) {
        showSuccessMessage();
        await new Promise((resolve) => setTimeout(resolve, 7000));
        window.location.reload();
      } else {
        showErrorMessage();
        await new Promise((resolve) => setTimeout(resolve, 10000));
        window.location.reload();
      }
    } else {
      console.error("Form not found!");
    }
  });

  function showSuccessMessage() {
    loadingBtn?.classList.add("hidden");
    successBtn?.classList.remove("hidden");
  }

  function showErrorMessage() {
    loadingBtn?.classList.add("hidden");
    errorBtn?.classList.remove("hidden");
  }

  function showLoadingMessage() {
    sendBtn?.classList.add("hidden");
    loadingBtn?.classList.remove("hidden");
  }
</script>
